<!DOCTYPE html>
<html ng-app="agence">
<section ng-controller="PanelController as panel">
	<head>
<meta charset="ISO-8859-1">
<title>{{panel.titre}}</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css"></link>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/vol.js"></script>
<script type="text/javascript" src="js/controllers/compagnieAerienne.js"></script>
<script type="text/javascript" src="js/controllers/aeroport.js"></script>
<script type="text/javascript" src="js/controllers/ville.js"></script>
	</head>
	<body>


		<div class="col-md-1">
			<img src="images/Logo-Elephant.png" height="150" width="150" />
		</div>
		<div class="col-md-10">
			<ul class="nav nav-pills">
				<li ng-class="{active:panelCtrl.isSet('vol')}"><a href
					ng-click="panelCtrl.setTab('vol', 'Gestion des vols')"> <span
						class="glyphicon glyphicon-plane"></span> Vol
				</a></li>

				<li ng-class="{active:panelCtrl.isSet('compagnieAerienne')}"><a
					href
					ng-click="panelCtrl.setTab('compagnieAerienne', 'Gestion des compagnies aeriennes')">
						<span class="glyphicon glyphicon-globe"></span> Compagnie Aerienne
				</a></li>

				<li ng-class="{active:panelCtrl.isSet('aeroport')}"><a href
					ng-click="panelCtrl.setTab('aeroport', 'Gestion des aeroports')">
						<span class="glyphicon glyphicon-road"></span> Aeroport
				</a></li>

				<li ng-class="{active:panelCtrl.isSet('ville')}"><a href
					ng-click="panelCtrl.setTab('ville', 'Gestion des villes')"> <span
						class="glyphicon glyphicon-home"></span> Ville
				</a></li>
			</ul>


		</div>


		<vol ng-show="panelCtrl.isSet('vol')"></vol>
		<compagnie-aerienne ng-show="panelCtrl.isSet('compagnieAerienne')"></compagnie-aerienne>
		<aeroport ng-show="panelCtrl.isSet('aeroport')"></aeroport>
		<ville ng-show="panelCtrl.isSet('ville')"></ville>


		<!-- 
		<div class="row">
			<div class="col-md-1">
				<img src="images/Logo-Elephant.png" height="150" width="150" />
			</div>
			<div class="col-md-8">
				<vol ng-show="panelCtrl.isSet('vol')"></vol>
				<compagnie-aerienne ng-show="panelCtrl.isSet('compagnieAerienne')"></compagnie-aerienne>
				<aeroport ng-show="panelCtrl.isSet('aeroport')"></aeroport>
				<ville ng-show="panelCtrl.isSet('ville')"></ville>
			</div>

		</div>
		 -->



	</body>
</section>
</html>