<!DOCTYPE html>
<html ng-app="banque">
<section ng-controller="PanelController as panel">
<head>
<meta charset="ISO-8859-1">
<title>{{panel.titre}}</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/client.js"></script>
<script type="text/javascript" src="js/controllers/agence.js"></script>
</head>
<body>

	
		<ul class="nav nav-pills">
			<li ng-class="{active:panel.isSet('client')}"><a href ng-click="panel.setTab('client', 'Gestion des clients')">Client</a></li>
			<li ng-class="{active:panel.isSet('agence')}"><a href ng-click="panel.setTab('agence', 'Gestion des agences')">Agence</a></li>
		</ul>
		
		<client ng-show="panel.isSet('client')">	
		</client>
		
		<agence ng-show="panel.isSet('agence')">
		</agence>

<!-- 		<div ng-include="'client.html'" class="container" ng-controller="ClientController as clientCtrl" ng-show="panel.isSet('client')">	 -->
<!-- 		</div> -->
		
<!-- 		<div ng-include="'agence.html'" class="container" ng-controller="AgenceController as agenceCtrl" ng-show="panel.isSet('agence')"> -->
<!-- 		</div> -->
	

</body>
</section>
</html>