
<meta charset="ISO-8859-1">


	<div class="container">
		<h2>Liste des villes</h2>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th colspan="2"></th>
			</tr>


			<tr ng-repeat="ville in villeCtrl.villes">
				<td>{{ville.idVil}}</td>
				<td>{{ville.nom}}</td>
				<td><a class="btn btn-info btn-xs" ng-click="villeCtrl.edit(ville.idVil)">Editer</a></td>
				<td><a class="btn btn-info btn-xs" ng-click="villeCtrl.remove(ville.idVil)">Supprimer</a></td>
			</tr>

			<tr>
				<td colspan="4"><a class="btn btn-info" ng-click="villeCtrl.add()">Ajouter
						une ville</a></td>
			</tr>
		</table>
		
		<fieldset ng-show="villeCtrl.ville">
			<legend>Edition du ville</legend>
			<form method="post" ng-submit="villeCtrl.save()">
				<div class="form-group">
					<input hidden="true" type="number" id="idVil" ng-model="villeCtrl.ville.idVil"/>
				</div>
				<div class="form-group">
					<input hidden="true" type="number" id="version" ng-model="villeCtrl.ville.version"/>
				</div>
				<div class="form-group">
					<label for="nom">Nom</label>
					<input type="text" id="nom" ng-model="villeCtrl.ville.nom"/>
				</div>

				<input type="submit" value="Valider" class="btn btn-default"  />
			</form>
		</fieldset>
	</div>

